@import url(index.css);
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: var(--text-font-family);
  color: var(--secondary-color);
  text-decoration: none;
}

html,
body {
  font-size: var(--global-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
  color: var(--tertiary-color);
}

h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light {
  color: var(--title-light-color);
}

a.light,
p.light {
  color: var(--text-light-color);
}

a {
  cursor: pointer;
  transition: all ease-in-out 0.25s;
}

a:hover {
  color: var(--primary-color);
}

a.h-white:hover {
  color: white;
}

a.a-arrow {
  position: relative;
}

a.a-arrow .arrow-r {
  color: var(--primary-color);
  transition: all ease-in-out;
  position: relative;
  left: 5px;
}

a.a-arrow:hover .arrow-r {
  left: 8px;
}

.flex {
  display: flex;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .container {
  width: 100%;
  max-width: var(--container-max-w);
  padding: 1.5rem;
}
/*------------dropdown---------*/
.dropdown {
  position: relative;

}
.dropdown a svg {
  height: 12px;
  width: 12px;
  fill: var(--text-light-color);
}

.dropdown .dropdown__body {
  visibility: hidden;
  opacity: 0;
  margin-top: -10px;
  position: absolute;
  background-color: white;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  top: calc(100%+0.5rem);
  width: 150px;
  right: 0;
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 0.25s;
  z-index: 1;
}

.dropdown:hover .dropdown__body {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
  z-index: 1;
}

.dropdown .dropdown__body .dropdown__body-item a {
  padding: 0.5rem;
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  
}

/*--------------------nav----------*/
nav {
  background-color: var(--tertiary-color);
  height: 80px;
  justify-content: center;
  
}
nav .nav__container {
  gap: 36px;
}

nav .nav_logo img {
  width: 32px;
  height: 32px;
}

nav .nav__menu {
  display: flex;
  flex-grow: 1;
  gap: 36px;
  align-items: center;
  
}

nav .nav__actions {
  display: flex;
  gap: 36px;
  align-items: center;
}
/*------------END-NAV--------------*/
header {
  background-color: var(--tertiary-color);
  clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
  padding-top: 10px;
  padding-bottom: 100px;
  z-index:-1 ;
  
}

.header_container {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.header-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  width: 100%;
}

.button {
  background-color: var(--primary-color);
  padding: 12px 24px;
  border-radius: 3%;
  overflow: hidden;
  position: relative;

}

.button:last-child {
  background-color: oklch(0.372 0.044 257.287);
}
.button:last-child:hover {
  background-color: #1d293d;
  transition: all ease-in-out 0.25s;
  cursor: pointer;
}

.button:hover {
  background-color: #1447e6;
  transition: all ease-in-out 0.25s;
  cursor: pointer;
}

.button:hover a span{
  transform: translateX(5px);
}

.button a {
  color: white;
}

.button a span{
  display: inline-block;
  transition: transform 0.3s ease;
  
}




.header-left {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 70px;
}

.header-left p {
  color: var(--text-light-color);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 32px;
  text-align: start;
}

.header-left h1 {
  font-size: 64px;
  color: white;
  font-family: var(--title-font-family);
  font-size: 4rem;
  font-weight: 700;
  line-height: 74px;
  margin: 0 0 16px;
  text-align: start;
}

.header-right img {
  width: 540px;
  height: 425px;
}
